openapi: 3.1.0

info:
  title: Friendli Suite API Reference
  description: This is an OpenAPI reference of Friendli Suite API.
  termsOfService: https://friendli.ai/terms-of-service
  contact:
    name: FriendliAI Support Team
    email: support@friendli.ai
  version: 0.1.0

servers:
  - url: https://api.friendli.ai

paths:
  /v1/chat/completions:
    post:
      tags:
        - Container.Chat
      summary: Chat completions
      description: Given a list of messages forming a conversation, the model generates
        a response.
      operationId: containerChatComplete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerChatCompletionBody'
        required: true
      responses:
        '200':
          description: Successfully generated a chat response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerChatCompleteSuccess'
              examples:
                Example:
                  value:
                    id: chatcmpl-4b71d12c86d94e719c7e3984a7bb7941
                    object: chat.completion
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: Hello there, how may I assist you today?
                        finish_reason: stop
                    usage:
                      prompt_tokens: 9
                      completion_tokens: 11
                      total_tokens: 20
                    created: 1735722153
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: complete
      x-mint:
        metadata:
          title: Container Chat Completions
          sidebarTitle: Chat Completions
          og:title: Container Chat Completions
          description: Send a conversation to Friendli Container and receive a chat
            completion response. Supports streaming, tool calls, and custom model
            parameters.
          og:description: Send a conversation to Friendli Container and receive a
            chat completion response. Supports streaming, tool calls, and custom model
            parameters.
        href: /openapi/container/chat-completions
        content: 'Given a list of messages forming a conversation, the model generates
          a response.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/container/chat-completions-chunk-object).'
    servers:
      - url: http://localhost:8000
  /v1/chat/completions#stream:
    post:
      tags:
        - Container.Chat
      summary: Stream chat completions
      description: Given a list of messages forming a conversation, the model generates
        a response.
      operationId: containerChatStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerChatCompletionStreamBody'
        required: true
      responses:
        '200':
          description: Successfully generated a chat response.
          content:
            text/event-stream:
              examples:
                Example:
                  value: 'data: {"id":"chatcmpl-4b71d12c86d94e719c7e3984a7bb7941","object":"chat.completion.chunk","choices":[{"index":0,"delta":{"role":"assistant","content":"This"},"finish_reason":null,"logprobs":null}],"usage":null,"created":1726294381}


                    data: {"id":"chatcmpl-4b71d12c86d94e719c7e3984a7bb7941","object":"chat.completion.chunk","choices":[{"index":0,"delta":{"content":"
                    is"},"finish_reason":null,"logprobs":null}],"usage":null,"created":1726294381}


                    ...


                    data: {"id":"chatcmpl-4b71d12c86d94e719c7e3984a7bb7941","object":"chat.completion.chunk","choices":[{"index":0,"delta":{},"finish_reason":"stop","logprobs":null}],"usage":null,"created":1726294383}


                    data: {"id":"chatcmpl-4b71d12c86d94e719c7e3984a7bb7941","object":"chat.completion.chunk","choices":[],"usage":{"prompt_tokens":8,"completion_tokens":4,"total_tokens":12},"created":1726294402}


                    data: [DONE]

                    '
              x-speakeasy-sse-sentinel: '[DONE]'
              schema:
                $ref: '#/components/schemas/ContainerChatCompletionStreamSuccess'
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: stream
      x-mint:
        metadata:
          title: Container Chat Stream Completions
          sidebarTitle: Stream Chat Completions
          og:title: Container Chat Stream Completions
          description: Send a conversation to Friendli Container and receive a chat
            completion response. Supports streaming, tool calls, and custom model
            parameters.
          og:description: Send a conversation to Friendli Container and receive a
            chat completion response. Supports streaming, tool calls, and custom model
            parameters.
        content: 'Given a list of messages forming a conversation, the model generates
          a response.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/container/chat-completions-chunk-object).'
    servers:
      - url: http://localhost:8000
  /v1/messages:
    post:
      tags:
        - Container.Messages
      summary: Messages
      description: Generate responses using Anthropic Messages-style payloads.
      operationId: containerMessages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerMessagesBody'
        required: true
      responses:
        '200':
          description: Successfully generated a Messages-style response. For streaming
            (`text/event-stream`) event and chunk details, see [Messages chunk object](/openapi/container/messages-chunk-object).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerMessagesSuccess'
              examples:
                Example:
                  value:
                    id: msg_4b71d12c86d94e719c7e3984a7bb7941
                    type: message
                    role: assistant
                    content:
                      - type: text
                        text: I can answer questions, generate text, and help with
                          coding tasks.
                    stop_reason: end_turn
                    usage:
                      input_tokens: 17
                      output_tokens: 14
                      cache_read_input_tokens: 0
                    model: zai-org/GLM-5.2
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesErrorResponse'
              examples:
                Invalid request error:
                  value:
                    type: error
                    error:
                      type: invalid_request_error
                      message: '...'
                    request_id: req_...
      x-speakeasy-name-override: messages
      x-mint:
        metadata:
          title: Container Messages
          sidebarTitle: Messages
          og:title: Container Messages
          description: Use the Anthropic Messages-style API with Friendli Container.
            Send structured message payloads to your self-hosted model and receive
            responses.
          og:description: Use the Anthropic Messages-style API with Friendli Container.
            Send structured message payloads to your self-hosted model and receive
            responses.
          tag: Beta
        href: /openapi/container/messages
        content: 'Send Anthropic Messages-style JSON.

          Detailed request/response field descriptions are provided in the OpenAPI
          schema below on this page.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/container/messages-chunk-object).


          <Warning>Server-side tools are not supported in the Messages API. In `tools`,
          only custom/client function tools are used; non-`custom` tool types are
          ignored.</Warning>


          <Info>

          This API is currently in **Beta**.

          While we strive to provide a stable and reliable experience, this feature
          is still under active development.

          As a result, you may encounter unexpected behavior or limitations.

          We encourage you to provide feedback to help us improve the feature before
          its official release.


          - [Feature request & feedback](mailto:support@friendli.ai)

          - [Contact support](mailto:support@friendli.ai)


          </Info>'
    servers:
      - url: http://localhost:8000
  /v1/completions:
    post:
      tags:
        - Container.Completions
      summary: Completions
      description: Generate text based on the given text prompt.
      operationId: containerCompletionsComplete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerCompletionsBody'
        required: true
      responses:
        '200':
          description: Successfully generated completions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerCompletionsSuccess'
              examples:
                Example:
                  value:
                    id: cmpl-26a1e10db8544bc3adb488d2d205288b
                    object: text_completion
                    choices:
                      - index: 0
                        seed: 42
                        text: This is indeed a test
                        tokens:
                          - 128000
                          - 2028
                          - 374
                          - 13118
                          - 264
                          - 1296
                        finish_reason: stop
                    usage:
                      prompt_tokens: 7
                      completion_tokens: 6
                      total_tokens: 13
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: complete
      x-mint:
        metadata:
          title: Container Completions
          sidebarTitle: Completions
          og:title: Container Completions
          description: Generate text completions from a prompt using Friendli Container.
            Run on your own hardware with full control over streaming and generation
            settings.
          og:description: Generate text completions from a prompt using Friendli Container.
            Run on your own hardware with full control over streaming and generation
            settings.
        href: /openapi/container/completions
        content: 'Generate text based on the given text prompt.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/container/completions-chunk-object).'
    servers:
      - url: http://localhost:8000
  /v1/completions#stream:
    post:
      tags:
        - Container.Completions
      summary: Stream completions
      description: Generate text based on the given text prompt.
      operationId: containerCompletionsStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerCompletionsStreamBody'
        required: true
      responses:
        '200':
          description: Successfully generated a chat response.
          content:
            text/event-stream:
              examples:
                Example:
                  value: 'data: {"id":"cmpl-26a1e10db8544bc3adb488d2d205288b","object":"text_completion","choices":[{"index":0,"text":"
                    such","token":1778,"finish_reason":null,"logprobs":null}],"created":1733382157}


                    data: {"id":"cmpl-26a1e10db8544bc3adb488d2d205288b","object":"text_completion","choices":[{"index":0,"text":"
                    as","token":439,"finish_reason":null,"logprobs":null}],"created":1733382157}


                    ...


                    data: {"id":"cmpl-26a1e10db8544bc3adb488d2d205288b","object":"text_completion","choices":[{"index":0,"text":"","finish_reason":"length","logprobs":null}],"created":1733382157}


                    data: {"id":"cmpl-26a1e10db8544bc3adb488d2d205288b","object":"text_completion","choices":[],"usage":{"prompt_tokens":5,"completion_tokens":10,"total_tokens":15},"created":1733382157}


                    data: [DONE]

                    '
              x-speakeasy-sse-sentinel: '[DONE]'
              schema:
                $ref: '#/components/schemas/ContainerCompletionsStreamSuccess'
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: stream
      x-mint:
        metadata:
          title: Container Stream Completions
          sidebarTitle: Stream Completions
          og:title: Container Stream Completions
          description: Generate text completions from a prompt using Friendli Container.
            Run on your own hardware with full control over streaming and generation
            settings.
          og:description: Generate text completions from a prompt using Friendli Container.
            Run on your own hardware with full control over streaming and generation
            settings.
        content: 'Generate text based on the given text prompt.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/container/completions-chunk-object).'
    servers:
      - url: http://localhost:8000
  /v1/tokenize:
    post:
      tags:
        - Container.Token
      summary: Tokenization
      description: By giving a text input, generate a tokenized output of token IDs.
      operationId: containerTokenization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerTokenizationBody'
        required: true
      responses:
        '200':
          description: Successfully tokenized the text.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerTokenizationSuccess'
              examples:
                Example:
                  value:
                    tokens:
                      - 128000
                      - 3923
                      - 374
                      - 1803
                      - 1413
                      - 15592
                      - 30
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: tokenize
      x-mint:
        metadata:
          title: Container Tokenization
          sidebarTitle: Tokenization
          og:title: Container Tokenization
          description: Tokenize text into token IDs using Friendli Container. Run
            tokenization locally on your own infrastructure for pre-processing and
            token counting.
          og:description: Tokenize text into token IDs using Friendli Container. Run
            tokenization locally on your own infrastructure for pre-processing and
            token counting.
        href: /openapi/container/tokenization
        content: By giving a text input, generate a tokenized output of token IDs.
    servers:
      - url: http://localhost:8000
  /v1/detokenize:
    post:
      tags:
        - Container.Token
      summary: Detokenization
      description: By giving a list of tokens, generate a detokenized output text
        string.
      operationId: containerDetokenization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerDetokenizationBody'
        required: true
      responses:
        '200':
          description: Successfully detokenized the tokens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerDetokenizationSuccess'
              examples:
                Example:
                  value:
                    text: What is generative AI?
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: detokenize
      x-mint:
        metadata:
          title: Container Detokenization
          sidebarTitle: Detokenization
          og:title: Container Detokenization
          description: Convert token IDs back to text using Friendli Container. Decode
            tokenized model output into readable strings on your own infrastructure.
          og:description: Convert token IDs back to text using Friendli Container.
            Decode tokenized model output into readable strings on your own infrastructure.
        href: /openapi/container/detokenization
        content: By giving a list of tokens, generate a detokenized output text string.
    servers:
      - url: http://localhost:8000
  /v1/images/generations:
    post:
      tags:
        - Container.Image
      summary: Image generations
      description: Given a description, the model generates image.
      operationId: containerImagesGenerate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerImageGenerationBody'
        required: true
      responses:
        '200':
          description: Successfully generated image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerImageGenerateSuccess'
              examples:
                Example:
                  value:
                    image: <base64 encoded image>
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: generate
      x-mint:
        metadata:
          title: Container Image Generations
          sidebarTitle: Image Generations
          og:title: Container Image Generations
          description: Generate images from text descriptions using Friendli Container.
            Run image generation models locally with configurable size and output
            parameters.
          og:description: Generate images from text descriptions using Friendli Container.
            Run image generation models locally with configurable size and output
            parameters.
        href: /openapi/container/image-generations
        content: Given a description, the model generates image.
    servers:
      - url: http://localhost:8000
  /v1/images/edits:
    post:
      tags:
        - Container.Image
      summary: Image edits
      description: Given an image and a description, the model edits the image.
      operationId: containerImagesEdit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerImageEditBody'
        required: true
      responses:
        '200':
          description: Successfully edited image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerImageEditSuccess'
              examples:
                Example:
                  value:
                    image: <base64 encoded image>
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: edit
      x-mint:
        metadata:
          title: Container Image Edits
          sidebarTitle: Image Edits
          og:title: Container Image Edits
          description: Edit images with text prompts using Friendli Container. Upload
            an image and describe desired modifications to the self-hosted model on
            your GPUs.
          og:description: Edit images with text prompts using Friendli Container.
            Upload an image and describe desired modifications to the self-hosted
            model on your GPUs.
        href: /openapi/container/image-edits
        content: Given an image and a description, the model edits the image.
    servers:
      - url: http://localhost:8000
  /v1/audio/transcriptions:
    post:
      tags:
        - Container.Audio
      summary: Audio transcriptions
      description: Given an audio file, the model transcribes it into text.
      operationId: containerAudioTranscriptions
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContainerAudioTranscriptionBody'
        required: true
      responses:
        '200':
          description: Successfully transcribed the audio file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerAudioTranscriptionSuccess'
              examples:
                Example:
                  value:
                    text: Hello, how are you?
                    usage:
                      type: tokens
                      input_tokens: 20
                      output_tokens: 10
                      total_tokens: 30
                      input_audio_length_ms: 18000
                      processed_audio_length_ms: 24000
                      input_token_details:
                        audio_tokens: 10
                        text_tokens: 10
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: transcribe
      x-mint:
        metadata:
          title: Container Audio Transcriptions
          sidebarTitle: Audio Transcriptions
          og:title: Container Audio Transcriptions
          description: Transcribe audio files to text using Friendli Container. Run
            speech-to-text models locally on your own GPU hardware with full data
            privacy.
          og:description: Transcribe audio files to text using Friendli Container.
            Run speech-to-text models locally on your own GPU hardware with full data
            privacy.
        href: /openapi/container/audio-transcriptions
        content: Given an audio file, the model transcribes it into text.
    servers:
      - url: http://localhost:8000
  /v1/audio/transcriptions#stream:
    post:
      tags:
        - Container.Audio
      summary: Stream audio transcriptions
      description: Given an audio file, the model transcribes it into text.
      operationId: containerAudioTranscriptionsStream
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContainerAudioTranscriptionStreamBody'
        required: true
      responses:
        '200':
          description: Successfully transcribed the audio file.
          content:
            text/event-stream:
              examples:
                Example:
                  value: 'data: {"type":"transcript.text.delta","delta":"The"}


                    data: {"type":"transcript.text.delta","delta":" quick"}


                    ...


                    data: {"type":"transcript.text.done","text":"The quick brown fox
                    jumps over the lazy dog.","usage":{"type":"tokens","input_tokens":20,"output_tokens":10,"total_tokens":30,"input_audio_length_ms":18000,"processed_audio_length_ms":24000,"input_token_details":{"audio_tokens":10,"text_tokens":10}}}


                    data: [DONE]

                    '
              x-speakeasy-sse-sentinel: '[DONE]'
              schema:
                $ref: '#/components/schemas/ContainerAudioTranscriptionStreamSuccess'
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: stream
      x-mint:
        metadata:
          title: Container Audio Transcriptions (Stream)
          sidebarTitle: Stream Audio Transcriptions
          og:title: Container Audio Transcriptions (Stream)
          description: Transcribe audio files to text using Friendli Container. Run
            speech-to-text models locally on your own GPU hardware with full data
            privacy.
          og:description: Transcribe audio files to text using Friendli Container.
            Run speech-to-text models locally on your own GPU hardware with full data
            privacy.
        content: 'Given an audio file, the model transcribes it into text.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/container/audio-transcriptions-chunk-object).'
    servers:
      - url: http://localhost:8000
  /classify:
    post:
      tags:
        - Container.Classification
      summary: Text classification
      description: Given a text input, the model classifies it into categories.
      operationId: containerTextClassification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerTextClassificationBody'
        required: true
      responses:
        '200':
          description: Successfully classified the text input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerTextClassificationSuccess'
              examples:
                Example:
                  value:
                    data:
                      - index: 0
                        label: Positive
                        num_classes: 2
                        probs:
                          - 0.9
                          - 0.1
                    object: list
                    usage:
                      prompt_tokens: 5
                      total_tokens: 5
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: classify
      x-mint:
        metadata:
          title: Container Text Classification
          sidebarTitle: Text Classification
          og:title: Container Text Classification
          description: Classify text into categories using Friendli Container. Run
            text classification models on your own infrastructure with full data control
            and privacy.
          og:description: Classify text into categories using Friendli Container.
            Run text classification models on your own infrastructure with full data
            control and privacy.
        href: /openapi/container/text-classification
        content: Given a text input, the model classifies it into categories.
    servers:
      - url: http://localhost:8000
  /dedicated/v1/chat/completions:
    post:
      tags:
        - Dedicated.Chat
      summary: Chat completions
      description: Given a list of messages forming a conversation, the model generates
        a response.
      operationId: dedicatedChatComplete
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedChatCompletionBody'
      responses:
        '200':
          description: Successfully generated a chat response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedChatCompleteSuccess'
              examples:
                Example:
                  value:
                    id: chatcmpl-4b71d12c86d94e719c7e3984a7bb7941
                    model: (endpoint-id)
                    object: chat.completion
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: Hello there, how may I assist you today?
                        finish_reason: stop
                    usage:
                      prompt_tokens: 9
                      completion_tokens: 11
                      total_tokens: 20
                    created: 1735722153
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: complete
      x-mint:
        metadata:
          title: Dedicated Chat Completions
          sidebarTitle: Chat Completions
          og:title: Dedicated Chat Completions
          description: Send a conversation to your Friendli Dedicated Endpoint and
            receive a chat completion response. Supports streaming, tool calls, and
            JSON mode.
          og:description: Send a conversation to your Friendli Dedicated Endpoint
            and receive a chat completion response. Supports streaming, tool calls,
            and JSON mode.
        href: /openapi/dedicated/inference/chat-completions
        content: 'Given a list of messages forming a conversation, the model generates
          a response.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/dedicated/inference/chat-completions-chunk-object).'
  /dedicated/v1/chat/completions#stream:
    post:
      tags:
        - Dedicated.Chat
      summary: Stream chat completions
      description: Given a list of messages forming a conversation, the model generates
        a response.
      operationId: dedicatedChatStream
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedChatCompletionStreamBody'
      responses:
        '200':
          description: Successfully generated a chat response.
          content:
            text/event-stream:
              x-speakeasy-sse-sentinel: '[DONE]'
              examples:
                Example:
                  value: 'data: {"id":"chatcmpl-4b71d12c86d94e719c7e3984a7bb7941","object":"chat.completion.chunk","choices":[{"index":0,"delta":{"role":"assistant","content":"This"},"finish_reason":null,"logprobs":null}],"usage":null,"created":1726294381}


                    data: {"id":"chatcmpl-4b71d12c86d94e719c7e3984a7bb7941","object":"chat.completion.chunk","choices":[{"index":0,"delta":{"content":"
                    is"},"finish_reason":null,"logprobs":null}],"usage":null,"created":1726294381}


                    ...


                    data: {"id":"chatcmpl-4b71d12c86d94e719c7e3984a7bb7941","object":"chat.completion.chunk","choices":[{"index":0,"delta":{},"finish_reason":"stop","logprobs":null}],"usage":null,"created":1726294383}


                    data: {"id":"chatcmpl-4b71d12c86d94e719c7e3984a7bb7941","object":"chat.completion.chunk","choices":[],"usage":{"prompt_tokens":8,"completion_tokens":4,"total_tokens":12},"created":1726294402}


                    data: [DONE]

                    '
              schema:
                $ref: '#/components/schemas/DedicatedChatCompletionStreamSuccess'
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: stream
      x-mint:
        metadata:
          title: Dedicated Chat Stream Completions
          sidebarTitle: Stream Chat Completions
          og:title: Dedicated Chat Stream Completions
          description: Send a conversation to your Friendli Dedicated Endpoint and
            receive a chat completion response. Supports streaming, tool calls, and
            JSON mode.
          og:description: Send a conversation to your Friendli Dedicated Endpoint
            and receive a chat completion response. Supports streaming, tool calls,
            and JSON mode.
        content: 'Given a list of messages forming a conversation, the model generates
          a response.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/dedicated/inference/chat-completions-chunk-object).'
  /dedicated/v1/chat/render:
    post:
      tags:
        - Dedicated.ChatRender
      summary: Chat render
      description: Given a list of messages forming a conversation, the API renders
        them into the final prompt text that will be sent to the model.
      operationId: dedicatedChatRender
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedChatRenderBody'
      responses:
        '200':
          description: Successfully rendered chat messages into prompt text.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedChatRenderSuccess'
              examples:
                Example:
                  value:
                    text: '<|begin_of_text|><|start_header_id|>system<|end_header_id|>

                      You are a helpful assistant.<|eot_id|><|start_header_id|>user<|end_header_id|>

                      Hello!<|eot_id|><|start_header_id|>assistant<|end_header_id|>

                      '
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: render
      x-mint:
        metadata:
          title: Dedicated Chat Render
          sidebarTitle: Chat Render
          og:title: Dedicated Chat Render
          description: Preview the final prompt text that your Friendli Dedicated
            Endpoint will send to the model. Useful for debugging chat templates and
            token counts.
          og:description: Preview the final prompt text that your Friendli Dedicated
            Endpoint will send to the model. Useful for debugging chat templates and
            token counts.
        href: /openapi/dedicated/inference/chat-render
        content: 'Given a list of messages forming a conversation, the API renders
          them into the final prompt text that will be sent to the model.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.'
  /dedicated/v1/messages:
    post:
      tags:
        - Dedicated.Messages
      summary: Messages
      description: Generate responses using Anthropic Messages-style payloads.
      operationId: dedicatedMessages
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedMessagesBody'
      responses:
        '200':
          description: Successfully generated a Messages-style response. For streaming
            (`text/event-stream`) event and chunk details, see [Messages chunk object](/openapi/dedicated/inference/messages-chunk-object).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedMessagesSuccess'
              examples:
                Example:
                  value:
                    id: msg_4b71d12c86d94e719c7e3984a7bb7941
                    type: message
                    role: assistant
                    content:
                      - type: text
                        text: I can answer questions, generate text, and help with
                          coding tasks.
                    stop_reason: end_turn
                    usage:
                      input_tokens: 17
                      output_tokens: 14
                      cache_read_input_tokens: 0
                    model: (endpoint-id)
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              examples:
                Invalid request error:
                  value:
                    type: error
                    error:
                      type: invalid_request_error
                      message: '...'
                    request_id: req_...
              schema:
                $ref: '#/components/schemas/MessagesErrorResponse'
      x-speakeasy-name-override: messages
      x-mint:
        metadata:
          title: Dedicated Messages
          sidebarTitle: Messages
          og:title: Dedicated Messages
          description: Use the Anthropic Messages-style API on your Friendli Dedicated
            Endpoint. Send structured message payloads and receive assistant responses.
          og:description: Use the Anthropic Messages-style API on your Friendli Dedicated
            Endpoint. Send structured message payloads and receive assistant responses.
          tag: Beta
        href: /openapi/dedicated/inference/messages
        content: 'Send Anthropic Messages-style JSON.

          Detailed request/response field descriptions are provided in the OpenAPI
          schema below on this page.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/dedicated/inference/messages-chunk-object).


          <Warning>Server-side tools are not supported in the Messages API. In `tools`,
          only custom/client function tools are used; non-`custom` tool types are
          ignored.</Warning>


          <Info>

          This API is currently in **Beta**.

          While we strive to provide a stable and reliable experience, this feature
          is still under active development.

          As a result, you may encounter unexpected behavior or limitations.

          We encourage you to provide feedback to help us improve the feature before
          its official release.


          - [Feature request & feedback](mailto:support@friendli.ai)

          - [Contact support](mailto:support@friendli.ai)


          </Info>'
  /dedicated/v1/completions:
    post:
      tags:
        - Dedicated.Completions
      summary: Completions
      description: Generate text based on the given text prompt.
      operationId: dedicatedCompletionsComplete
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedCompletionsBody'
      responses:
        '200':
          description: Successfully generated completions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCompletionsSuccess'
              examples:
                Example:
                  value:
                    id: cmpl-26a1e10db8544bc3adb488d2d205288b
                    model: (endpoint-id)
                    object: text_completion
                    choices:
                      - index: 0
                        seed: 42
                        text: This is indeed a test
                        tokens:
                          - 128000
                          - 2028
                          - 374
                          - 13118
                          - 264
                          - 1296
                        finish_reason: stop
                    usage:
                      prompt_tokens: 7
                      completion_tokens: 6
                      total_tokens: 13
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: complete
      x-mint:
        metadata:
          title: Dedicated Completions
          sidebarTitle: Completions
          og:title: Dedicated Completions
          description: Generate text completions from a prompt using your Friendli
            Dedicated Endpoint. Supports streaming, token limits, temperature, and
            stop sequences.
          og:description: Generate text completions from a prompt using your Friendli
            Dedicated Endpoint. Supports streaming, token limits, temperature, and
            stop sequences.
        href: /openapi/dedicated/inference/completions
        content: 'Generate text based on the given text prompt.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/dedicated/inference/completions-chunk-object).'
  /dedicated/v1/completions#stream:
    post:
      tags:
        - Dedicated.Completions
      summary: Stream completions
      description: Generate text based on the given text prompt.
      operationId: dedicatedCompletionsStream
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedCompletionsStreamBody'
      responses:
        '200':
          description: Successfully generated a chat response.
          content:
            text/event-stream:
              x-speakeasy-sse-sentinel: '[DONE]'
              examples:
                Example:
                  value: 'data: {"id":"cmpl-26a1e10db8544bc3adb488d2d205288b","object":"text_completion","choices":[{"index":0,"text":"
                    such","token":1778,"finish_reason":null,"logprobs":null}],"created":1733382157}


                    data: {"id":"cmpl-26a1e10db8544bc3adb488d2d205288b","object":"text_completion","choices":[{"index":0,"text":"
                    as","token":439,"finish_reason":null,"logprobs":null}],"created":1733382157}


                    ...


                    data: {"id":"cmpl-26a1e10db8544bc3adb488d2d205288b","object":"text_completion","choices":[{"index":0,"text":"","finish_reason":"length","logprobs":null}],"created":1733382157}


                    data: {"id":"cmpl-26a1e10db8544bc3adb488d2d205288b","object":"text_completion","choices":[],"usage":{"prompt_tokens":5,"completion_tokens":10,"total_tokens":15},"created":1733382157}


                    data: [DONE]

                    '
              schema:
                $ref: '#/components/schemas/DedicatedCompletionsStreamSuccess'
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: stream
      x-mint:
        metadata:
          title: Dedicated Stream Completions
          sidebarTitle: Stream Completions
          og:title: Dedicated Stream Completions
          description: Generate text completions from a prompt using your Friendli
            Dedicated Endpoint. Supports streaming, token limits, temperature, and
            stop sequences.
          og:description: Generate text completions from a prompt using your Friendli
            Dedicated Endpoint. Supports streaming, token limits, temperature, and
            stop sequences.
        content: 'Generate text based on the given text prompt.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/dedicated/inference/completions-chunk-object).'
  /dedicated/v1/embeddings:
    post:
      tags:
        - Dedicated.Embeddings
      summary: Embeddings
      description: Creates an embedding vector representing the input text.
      operationId: dedicatedEmbeddings
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedEmbeddingsBody'
      responses:
        '200':
          description: Successfully generated embeddings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedEmbeddingsSuccess'
              examples:
                Example:
                  value:
                    id: embd-26a1e10db1311bc2adb488d2d205288b
                    model: (endpoint-id)
                    object: list
                    data:
                      - index: 0
                        object: embedding
                        embedding:
                          - 0.0023064255
                          - -0.009327292
                          - -0.0028842222
                    usage:
                      prompt_tokens: 26
                      completion_tokens: 0
                      total_tokens: 26
                    created: 1735722153
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: embeddings
      x-mint:
        metadata:
          title: Dedicated Embeddings
          sidebarTitle: Embeddings
          og:title: Dedicated Embeddings
          description: Generate text embedding vectors using your Friendli Dedicated
            Endpoint. Convert text into dense vector representations for search and
            similarity.
          og:description: Generate text embedding vectors using your Friendli Dedicated
            Endpoint. Convert text into dense vector representations for search and
            similarity.
        href: /openapi/dedicated/inference/embeddings
        content: 'Creates an embedding vector representing the input text.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.'
  /dedicated/v1/tokenize:
    post:
      tags:
        - Dedicated.Token
      summary: Tokenization
      description: By giving a text input, generate a tokenized output of token IDs.
      operationId: dedicatedTokenization
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedTokenizationBody'
      responses:
        '200':
          description: Successfully tokenized the text.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedTokenizationSuccess'
              examples:
                Example:
                  value:
                    tokens:
                      - 128000
                      - 3923
                      - 374
                      - 1803
                      - 1413
                      - 15592
                      - 30
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: tokenize
      x-mint:
        metadata:
          title: Dedicated Tokenization
          sidebarTitle: Tokenization
          og:title: Dedicated Tokenization
          description: Tokenize text into token IDs using your Friendli Dedicated
            Endpoint. Useful for counting tokens and validating input length before
            inference.
          og:description: Tokenize text into token IDs using your Friendli Dedicated
            Endpoint. Useful for counting tokens and validating input length before
            inference.
        href: /openapi/dedicated/inference/tokenization
        content: 'By giving a text input, generate a tokenized output of token IDs.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.'
  /dedicated/v1/detokenize:
    post:
      tags:
        - Dedicated.Token
      summary: Detokenization
      description: By giving a list of tokens, generate a detokenized output text
        string.
      operationId: dedicatedDetokenization
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedDetokenizationBody'
      responses:
        '200':
          description: Successfully detokenized the tokens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedDetokenizationSuccess'
              examples:
                Example:
                  value:
                    text: What is generative AI?
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: detokenize
      x-mint:
        metadata:
          title: Dedicated Detokenization
          sidebarTitle: Detokenization
          og:title: Dedicated Detokenization
          description: Convert token IDs back to text using your Friendli Dedicated
            Endpoint. Decode tokenized output into a human-readable string for analysis.
          og:description: Convert token IDs back to text using your Friendli Dedicated
            Endpoint. Decode tokenized output into a human-readable string for analysis.
        href: /openapi/dedicated/inference/detokenization
        content: 'By giving a list of tokens, generate a detokenized output text string.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.'
  /dedicated/v1/images/generations:
    post:
      tags:
        - Dedicated.Image
      summary: Image generations
      description: Given a description, the model generates image(s).
      operationId: dedicatedImagesGenerate
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedImageGenerationBody'
      responses:
        '200':
          description: Successfully generated image(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedImageGenerateSuccess'
              examples:
                Example:
                  value:
                    data:
                      - url: (url-to-generated-image)
                        seed: 123
                        response_format: url
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: generate
      x-mint:
        metadata:
          title: Dedicated Image Generations
          sidebarTitle: Image Generations
          og:title: Dedicated Image Generations
          description: Generate images from text descriptions using your Friendli
            Dedicated Endpoint. Supports configurable image size, count, and generation
            parameters.
          og:description: Generate images from text descriptions using your Friendli
            Dedicated Endpoint. Supports configurable image size, count, and generation
            parameters.
        href: /openapi/dedicated/inference/image-generations
        content: 'Given a description, the model generates image(s).


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.'
  /dedicated/v1/images/edits:
    post:
      tags:
        - Dedicated.Image
      summary: Image edits
      description: Given an image and a description, the model edits the image.
      operationId: dedicatedImagesEdit
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedImageEditBody'
      responses:
        '200':
          description: Successfully edited image(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedImageEditSuccess'
              examples:
                Example:
                  value:
                    data:
                      - url: (url-to-edited-image)
                        seed: 789
                        response_format: url
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: edit
      x-mint:
        metadata:
          title: Dedicated Image Edits
          sidebarTitle: Image Edits
          og:title: Dedicated Image Edits
          description: Edit images with text prompts using your Friendli Dedicated
            Endpoint. Upload an image and describe the desired modifications for the
            model to apply.
          og:description: Edit images with text prompts using your Friendli Dedicated
            Endpoint. Upload an image and describe the desired modifications for the
            model to apply.
        href: /openapi/dedicated/inference/image-edits
        content: 'Given an image and a description, the model edits the image.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.'
  /dedicated/v1/audio/transcriptions:
    post:
      tags:
        - Dedicated.Audio
      summary: Audio transcriptions
      description: Given an audio file, the model transcribes it into text.
      operationId: dedicatedAudioTranscriptions
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DedicatedAudioTranscriptionBody'
      responses:
        '200':
          description: Successfully transcribed the audio file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedAudioTranscriptionSuccess'
              examples:
                Example:
                  value:
                    text: Hello, how are you?
                    usage:
                      type: tokens
                      input_tokens: 20
                      output_tokens: 10
                      total_tokens: 30
                      input_audio_length_ms: 18000
                      processed_audio_length_ms: 24000
                      input_token_details:
                        audio_tokens: 10
                        text_tokens: 10
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: transcribe
      x-mint:
        metadata:
          title: Dedicated Audio Transcriptions
          sidebarTitle: Audio Transcriptions
          og:title: Dedicated Audio Transcriptions
          description: Transcribe audio files to text using your Friendli Dedicated
            Endpoint. Upload an audio file and receive a text transcription from the
            deployed model.
          og:description: Transcribe audio files to text using your Friendli Dedicated
            Endpoint. Upload an audio file and receive a text transcription from the
            deployed model.
        href: /openapi/dedicated/inference/audio-transcriptions
        content: 'Given an audio file, the model transcribes it into text.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.'
  /dedicated/v1/audio/transcriptions#stream:
    post:
      tags:
        - Dedicated.Audio
      summary: Stream audio transcriptions
      description: Given an audio file, the model transcribes it into text.
      operationId: dedicatedAudioTranscriptionsStream
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DedicatedAudioTranscriptionStreamBody'
      responses:
        '200':
          description: Successfully transcribed the audio file.
          content:
            text/event-stream:
              x-speakeasy-sse-sentinel: '[DONE]'
              examples:
                Example:
                  value: 'data: {"type":"transcript.text.delta","delta":"The"}


                    data: {"type":"transcript.text.delta","delta":" quick"}


                    ...


                    data: {"type":"transcript.text.done","text":"The quick brown fox
                    jumps over the lazy dog.","usage":{"type":"tokens","input_tokens":20,"output_tokens":10,"total_tokens":30,"input_audio_length_ms":18000,"processed_audio_length_ms":24000,"input_token_details":{"audio_tokens":10,"text_tokens":10}}}


                    data: [DONE]

                    '
              schema:
                $ref: '#/components/schemas/DedicatedAudioTranscriptionStreamSuccess'
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: stream
      x-mint:
        metadata:
          title: Dedicated Audio Transcriptions (Stream)
          sidebarTitle: Stream Audio Transcriptions
          og:title: Dedicated Audio Transcriptions (Stream)
          description: Transcribe audio files to text using your Friendli Dedicated
            Endpoint. Upload an audio file and receive a text transcription from the
            deployed model.
          og:description: Transcribe audio files to text using your Friendli Dedicated
            Endpoint. Upload an audio file and receive a text transcription from the
            deployed model.
        content: 'Given an audio file, the model transcribes it into text.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/dedicated/inference/audio-transcriptions-chunk-object).'
  /dedicated/classify:
    post:
      tags:
        - Dedicated.Classification
      summary: Text classification
      description: Given a text input, the model classifies it into categories.
      operationId: dedicatedTextClassification
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedTextClassificationBody'
      responses:
        '200':
          description: Successfully classified the text input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedTextClassificationSuccess'
              examples:
                Example:
                  value:
                    data:
                      - index: 0
                        label: Positive
                        num_classes: 2
                        probs:
                          - 0.9
                          - 0.1
                    object: list
                    usage:
                      prompt_tokens: 5
                      total_tokens: 5
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: classify
      x-mint:
        metadata:
          title: Dedicated Text Classification
          sidebarTitle: Text Classification
          og:title: Dedicated Text Classification
          description: Classify text into categories using your Friendli Dedicated
            Endpoint. Send text input and receive predicted labels with per-class
            probabilities.
          og:description: Classify text into categories using your Friendli Dedicated
            Endpoint. Send text input and receive predicted labels with per-class
            probabilities.
        href: /openapi/dedicated/inference/text-classification
        content: 'Given a text input, the model classifies it into categories.


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.'
  /serverless/v1/chat/completions:
    post:
      tags:
        - Serverless.Chat
      summary: Chat completions
      description: Given a list of messages forming a conversation, the model generates
        a response.
      operationId: serverlessChatComplete
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerlessChatCompletionBody'
      responses:
        '200':
          description: Successfully generated a chat response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerlessChatCompleteSuccess'
              examples:
                Example:
                  value:
                    id: chatcmpl-4b71d12c86d94e719c7e3984a7bb7941
                    model: zai-org/GLM-5.2
                    object: chat.completion
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: Hello there, how may I assist you today?
                        finish_reason: stop
                    usage:
                      prompt_tokens: 9
                      completion_tokens: 11
                      total_tokens: 20
                    created: 1735722153
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: complete
      x-speakeasy-usage-example:
        title: Chat completions
        description: Given a list of messages forming a conversation, the model generates
          a response.
        position: 1
        tags:
          - usage
          - security
          - retries
          - server
      x-mint:
        metadata:
          title: Model APIs Chat Completions
          sidebarTitle: Chat Completions
          og:title: Model APIs Chat Completions
          description: Send a conversation to Friendli Model APIs and receive a chat
            completion response. Supports streaming, tool calls, and JSON mode.
          og:description: Send a conversation to Friendli Model APIs and receive a
            chat completion response. Supports streaming, tool calls, and JSON mode.
        href: /openapi/model-apis/chat-completions
        content: 'Given a list of messages forming a conversation, the model generates
          a response.


          See available models at [this pricing table](/guides/model-apis/pricing#billing-methods).


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/model-apis/chat-completions-chunk-object).


          <Tip>You can explore examples on the [Friendli Model APIs](https://friendli.ai/get-started/model-apis)
          playground and adjust settings with just a few clicks.</Tip>'
  /serverless/v1/chat/completions#stream:
    post:
      tags:
        - Serverless.Chat
      summary: Stream chat completions
      description: Given a list of messages forming a conversation, the model generates
        a response.
      operationId: serverlessChatStream
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerlessChatCompletionStreamBody'
      responses:
        '200':
          description: Successfully generated a chat response.
          content:
            text/event-stream:
              x-speakeasy-sse-sentinel: '[DONE]'
              examples:
                Example:
                  value: 'data: {"id":"chatcmpl-4b71d12c86d94e719c7e3984a7bb7941","object":"chat.completion.chunk","choices":[{"index":0,"delta":{"role":"assistant","content":"This"},"finish_reason":null,"logprobs":null}],"usage":null,"created":1726294381}


                    data: {"id":"chatcmpl-4b71d12c86d94e719c7e3984a7bb7941","object":"chat.completion.chunk","choices":[{"index":0,"delta":{"content":"
                    is"},"finish_reason":null,"logprobs":null}],"usage":null,"created":1726294381}


                    ...


                    data: {"id":"chatcmpl-4b71d12c86d94e719c7e3984a7bb7941","object":"chat.completion.chunk","choices":[{"index":0,"delta":{},"finish_reason":"stop","logprobs":null}],"usage":null,"created":1726294383}


                    data: {"id":"chatcmpl-4b71d12c86d94e719c7e3984a7bb7941","object":"chat.completion.chunk","choices":[],"usage":{"prompt_tokens":8,"completion_tokens":4,"total_tokens":12},"created":1726294402}


                    data: [DONE]

                    '
              schema:
                $ref: '#/components/schemas/ServerlessChatCompletionStreamSuccess'
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: stream
      x-speakeasy-usage-example:
        tags:
          - eventstream
      x-mint:
        metadata:
          title: Model APIs Chat Stream Completions
          sidebarTitle: Stream Chat Completions
          og:title: Model APIs Chat Stream Completions
          description: Send a conversation to Friendli Model APIs and receive a chat
            completion response. Supports streaming, tool calls, and JSON mode.
          og:description: Send a conversation to Friendli Model APIs and receive a
            chat completion response. Supports streaming, tool calls, and JSON mode.
        content: 'Given a list of messages forming a conversation, the model generates
          a response.


          See available models at [this pricing table](/guides/model-apis/pricing#billing-methods).


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/model-apis/chat-completions-chunk-object).


          <Tip>You can explore examples on the [Friendli Model APIs](https://friendli.ai/get-started/model-apis)
          playground and adjust settings with just a few clicks.</Tip>'
  /serverless/v1/messages:
    post:
      tags:
        - Serverless.Messages
      summary: Messages
      description: Generate responses using Anthropic Messages-style payloads.
      operationId: serverlessMessages
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerlessMessagesBody'
      responses:
        '200':
          description: Successfully generated a Messages-style response. For streaming
            (`text/event-stream`) event and chunk details, see [Messages chunk object](/openapi/model-apis/messages-chunk-object).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerlessMessagesSuccess'
              examples:
                Example:
                  value:
                    id: msg_4b71d12c86d94e719c7e3984a7bb7941
                    type: message
                    role: assistant
                    content:
                      - type: text
                        text: I can answer questions, generate text, and help with
                          coding tasks.
                    stop_reason: end_turn
                    usage:
                      input_tokens: 17
                      output_tokens: 14
                      cache_read_input_tokens: 0
                    model: zai-org/GLM-5.2
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              examples:
                Invalid request error:
                  value:
                    type: error
                    error:
                      type: invalid_request_error
                      message: '...'
                    request_id: req_...
              schema:
                $ref: '#/components/schemas/MessagesErrorResponse'
      x-speakeasy-name-override: messages
      x-speakeasy-usage-example:
        tags:
          - errors
      x-mint:
        metadata:
          title: Model APIs Messages
          sidebarTitle: Messages
          og:title: Model APIs Messages
          description: Use the Anthropic Messages-style API on Friendli Model APIs.
            Send structured message payloads and receive assistant responses.
          og:description: Use the Anthropic Messages-style API on Friendli Model APIs.
            Send structured message payloads and receive assistant responses.
          tag: Beta
        href: /openapi/model-apis/messages
        content: 'Send Anthropic Messages-style JSON.

          Detailed request/response field descriptions are provided in the OpenAPI
          schema below on this page.


          See available models at [this pricing table](/guides/model-apis/pricing#billing-methods).


          <Note>

          The Messages API may not be supported by all models available on Model APIs.

          </Note>


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/model-apis/messages-chunk-object).


          <Warning>Server-side tools are not supported in the Messages API. In `tools`,
          only custom/client function tools are used; non-`custom` tool types are
          ignored.</Warning>


          <Info>

          This API is currently in **Beta**.

          While we strive to provide a stable and reliable experience, this feature
          is still under active development.

          As a result, you may encounter unexpected behavior or limitations.

          We encourage you to provide feedback to help us improve the feature before
          its official release.


          - [Feature request & feedback](mailto:support@friendli.ai)

          - [Contact support](mailto:support@friendli.ai)


          </Info>'
  /serverless/v1/chat/render:
    post:
      tags:
        - Serverless.ChatRender
      summary: Chat render
      description: Given a list of messages forming a conversation, the API renders
        them into the final prompt text that will be sent to the model.
      operationId: serverlessChatRender
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerlessChatRenderBody'
      responses:
        '200':
          description: Successfully rendered chat messages into prompt text.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerlessChatRenderSuccess'
              examples:
                Example:
                  value:
                    text: '<|begin_of_text|><|start_header_id|>system<|end_header_id|>

                      You are a helpful assistant.<|eot_id|><|start_header_id|>user<|end_header_id|>

                      Hello!<|eot_id|><|start_header_id|>assistant<|end_header_id|>

                      '
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: render
      x-mint:
        metadata:
          title: Model APIs Chat Render
          sidebarTitle: Chat Render
          og:title: Model APIs Chat Render
          description: Preview the final prompt text that Friendli Model APIs will
            send to the model. Useful for debugging chat templates and token usage.
          og:description: Preview the final prompt text that Friendli Model APIs will
            send to the model. Useful for debugging chat templates and token usage.
        href: /openapi/model-apis/chat-render
        content: 'Given a list of messages forming a conversation, the API renders
          them into the final prompt text that will be sent to the model.


          See available models at [this pricing table](/guides/model-apis/pricing#billing-methods).


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.'
  /serverless/v1/completions:
    post:
      tags:
        - Serverless.Completions
      summary: Completions
      description: Generate text based on the given text prompt.
      operationId: serverlessCompletionsComplete
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerlessCompletionsBody'
      responses:
        '200':
          description: Successfully generated completions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerlessCompletionsSuccess'
              examples:
                Example:
                  value:
                    id: cmpl-26a1e10db8544bc3adb488d2d205288b
                    model: zai-org/GLM-5.2
                    object: text_completion
                    choices:
                      - index: 0
                        seed: 42
                        text: This is indeed a test
                        tokens:
                          - 128000
                          - 2028
                          - 374
                          - 13118
                          - 264
                          - 1296
                        finish_reason: stop
                    usage:
                      prompt_tokens: 7
                      completion_tokens: 6
                      total_tokens: 13
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: complete
      x-mint:
        metadata:
          title: Model APIs Completions
          sidebarTitle: Completions
          og:title: Model APIs Completions
          description: Generate text completions from a prompt using Friendli Model
            APIs. Supports streaming, token limits, temperature, and stop sequences.
          og:description: Generate text completions from a prompt using Friendli Model
            APIs. Supports streaming, token limits, temperature, and stop sequences.
        href: /openapi/model-apis/completions
        content: 'Generate text based on the given text prompt.


          See available models at [this pricing table](/guides/model-apis/pricing#billing-methods).


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/model-apis/completions-chunk-object).


          <Tip>You can explore examples on the [Friendli Model APIs](https://friendli.ai/get-started/model-apis)
          playground and adjust settings with just a few clicks.</Tip>'
  /serverless/v1/completions#stream:
    post:
      tags:
        - Serverless.Completions
      summary: Stream completions
      description: Generate text based on the given text prompt.
      operationId: serverlessCompletionsStream
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerlessCompletionsStreamBody'
      responses:
        '200':
          description: Successfully generated a chat response.
          content:
            text/event-stream:
              x-speakeasy-sse-sentinel: '[DONE]'
              examples:
                Example:
                  value: 'data: {"id":"cmpl-26a1e10db8544bc3adb488d2d205288b","object":"text_completion","choices":[{"index":0,"text":"
                    such","token":1778,"finish_reason":null,"logprobs":null}],"created":1733382157}


                    data: {"id":"cmpl-26a1e10db8544bc3adb488d2d205288b","object":"text_completion","choices":[{"index":0,"text":"
                    as","token":439,"finish_reason":null,"logprobs":null}],"created":1733382157}


                    ...


                    data: {"id":"cmpl-26a1e10db8544bc3adb488d2d205288b","object":"text_completion","choices":[{"index":0,"text":"","finish_reason":"length","logprobs":null}],"created":1733382157}


                    data: {"id":"cmpl-26a1e10db8544bc3adb488d2d205288b","object":"text_completion","choices":[],"usage":{"prompt_tokens":5,"completion_tokens":10,"total_tokens":15},"created":1733382157}


                    data: [DONE]

                    '
              schema:
                $ref: '#/components/schemas/ServerlessCompletionsStreamSuccess'
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: stream
      x-mint:
        metadata:
          title: Model APIs Stream Completions
          sidebarTitle: Stream Completions
          og:title: Model APIs Stream Completions
          description: Generate text completions from a prompt using Friendli Model
            APIs. Supports streaming, token limits, temperature, and stop sequences.
          og:description: Generate text completions from a prompt using Friendli Model
            APIs. Supports streaming, token limits, temperature, and stop sequences.
        content: 'Generate text based on the given text prompt.


          See available models at [this pricing table](/guides/model-apis/pricing#billing-methods).


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/model-apis/completions-chunk-object).


          <Tip>You can explore examples on the [Friendli Model APIs](https://friendli.ai/get-started/model-apis)
          playground and adjust settings with just a few clicks.</Tip>'
  /serverless/v1/audio/transcriptions:
    post:
      tags:
        - Serverless.Audio
      summary: Audio transcriptions
      description: Given an audio file, the model transcribes it into text.
      operationId: serverlessAudioTranscriptions
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ServerlessAudioTranscriptionBody'
      responses:
        '200':
          description: Successfully transcribed the audio file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerlessAudioTranscriptionSuccess'
              examples:
                Example:
                  value:
                    text: Hello, how are you?
                    usage:
                      type: tokens
                      input_tokens: 20
                      output_tokens: 10
                      total_tokens: 30
                      input_audio_length_ms: 18000
                      processed_audio_length_ms: 24000
                      input_token_details:
                        audio_tokens: 10
                        text_tokens: 10
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: transcribe
      x-speakeasy-usage-example:
        tags:
          - file-upload
      x-mint:
        metadata:
          title: Model APIs Audio Transcriptions
          sidebarTitle: Audio Transcriptions
          og:title: Model APIs Audio Transcriptions
          description: Transcribe audio files to text using Friendli Model APIs. Supports
            multiple audio formats with streaming and non-streaming responses.
          og:description: Transcribe audio files to text using Friendli Model APIs.
            Supports multiple audio formats with streaming and non-streaming responses.
        href: /openapi/model-apis/audio-transcriptions
        content: 'Given an audio file, the model transcribes it into text.


          See available models at [this pricing table](/guides/model-apis/pricing#billing-methods).


          To request successfully, it is mandatory to enter a **Personal API Key**
          (e.g. flp_XXX) value in the **Bearer Token** field.

          Refer to the [authentication section](/openapi/introduction#authentication)
          on our introduction page to learn how to acquire this variable and [visit
          here](https://friendli.ai/suite/~/setting/keys) to generate your API Key.


          When streaming mode is used (i.e., `stream` option is set to `true`), the
          response is in MIME type `text/event-stream`. Otherwise, the content type
          is `application/json`.

          You can view the schema of the streamed sequence of chunk objects in streaming
          mode [here](/openapi/model-apis/audio-transcriptions-chunk-object).


          <Tip>You can explore examples on the [Friendli Model APIs](https://friendli.ai/get-started/model-apis)
          playground and adjust settings with just a few clicks.</Tip>'
  /serverless/v1/audio/transcriptions#stream:
    post:
      tags:
        - Serverless.Audio
      summary: Stream audio transcriptions
      description: Given an audio file, the model transcribes it into text.
      operationId: serverlessAudioTranscriptionsStream
      security:
        - token: []
      parameters:
        - name: X-Friendli-Team
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ID of team to run requests as (optional parameter).
            title: X-Friendli-Team
          description: ID of team to run requests as (optional parameter).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ServerlessAudioTranscriptionStreamBody'
      responses:
        '200':
          description: Successfully transcribed the audio file.
          content:
            text/event-stream:
              x-speakeasy-sse-sentinel: '[DONE]'
              examples:
                Example:
                  value: 'data: {"type":"transcript.text.delta","delta":"The"}


                    data: {"type":"transcript.text.delta","delta":" quick"}


                    ...


                    data: {"type":"transcript.text.done","text":"The quick brown fox
                    jumps over the lazy dog.","usage":{"type":"tokens","input_tokens":20,"output_tokens":10,"total_tokens":30,"input_audio_length_ms":18000,"processed_audio_length_ms":24000,"input_token_details":{"audio_tokens":10,"text_tokens":10}}}


                    data: [DONE]

                    '
              schema:
                $ref: '#/components/schemas/ServerlessAudioTranscriptionStreamSuccess'
        '422':
          description: Unprocessable Entity
      x-speakeasy-name-override: stream
      x-mint:
        metadata:
          title: Model APIs Audio Transcriptions (Stream)
          sidebarTitle: Stream Audio Transcriptions
          og:title: Model APIs Audio Transcriptions (Stream)
[...]
